* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

h1 {
    text-align: center;
    font-size: 1.75em;
    font-weight: normal;
}

p {
    margin: 8px;
    padding: 10px 5px;
    clear: both;
}

.chicken .box_title {
    position: relative;
    font-size: 1.25em;
    background-color:pink;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    float: right;
    top: -1px;
    right: -1px;
}

.beef .box_title {
    position: relative;
    background-color:firebrick;
    font-size: 1.25em;
    color: white;
    text-align: center;
    border: 1px solid black;
    width: 100px;
    float: right;
    top: -1px;
    right: -1px;
}

.sushi .box_title {
    position: relative;
    background-color:khaki;
    font-size: 1.25em;
    text-align: center;
    border: 1px solid black;
    width: 100px;
    float: right;
    top: -1px;
    right: -1px;
}

@media (min-width: 992px) {
    

    .chicken, .beef, .sushi {
        width: 30.33%;
        margin: 1.5%;
        background-color: rgb(174, 174, 174);
        border: 1px solid black;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .chicken, .beef {
        width: 47%;
        margin: 1.5%;
        background-color: rgb(174, 174, 174);
        border: 1px solid black;
        float: left;
    }

    .sushi {
        width: 97%;
        margin: 1.5%;
        background-color: rgb(174, 174, 174);
        border: 1px solid black;
        float: left;
    }
}

@media (max-width: 767px) {
    .chicken, .beef, .sushi {
        width: 97%;
        margin: 1.5%;
        background-color: rgb(174, 174, 174);
        border: 1px solid black;
        float: left;
    }
}